
.leaflet-top.leaflet-left:has(.leaflet-mapui.leaflet-control + .leaflet-draw-ui-div.leaflet-control) {
    display: flex;
    flex-direction: row;
}

.leaflet-draw-ui-div + .leaflet-draw{
    position: relative;
    left: 10px;
    top:18px;
    margin-top: 0px;
}
/* .leaflet-touch .leaflet-bar a, */
#map > div.leaflet-control-container > div.leaflet-top.leaflet-left > div.leaflet-draw.leaflet-control > div > div > a,
a.leaflet-draw-draw-polygon{
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    background-position: -63px -6px;
    background-size: auto;
}

a.leaflet-draw-draw-polygon:hover {
    background-color: #dde051;
    transform: translate3d(1px,2px ,2px);
}

div.leaflet-draw-toolbar.leaflet-bar.leaflet-draw-toolbar-top{
    width: 50px;
    height: 50px;
}

.leaflet-touch .leaflet-draw-toolbar .leaflet-draw-draw-polygon{
    background-position: -63px -6px;
    background-size: auto;
}

ul.leaflet-draw-actions.leaflet-draw-actions-top.leaflet-draw-actions-bottom{
    position: relative;
    top: 20px;
}

#map > div.leaflet-control-container > div.leaflet-top.leaflet-left > div.leaflet-draw.leaflet-control{
    height: 50px;
}

.mypolygon-editing-icon{
    background: #fff;
	border: 1px solid #666;
    border-radius: 10px;
}


.leaflet-draw-ui-div.leaflet-control{
    width: 350x;
    height: 50px;
    margin: 0px;
    background-color: white;
    box-shadow:  1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
    border-radius: 2px;
    border:1px solid rgba(0,0,0,.3);
    position: relative;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: row;
}

.leaflet-draw-ui-div-btn{
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
}

.leaflet-draw-ui-div-btn img{
    padding: 0px;
    margin: 0px;
}

